@model IEnumerable<CourseInstructorModel>

@{
    ViewData["Title"] = "All Courses";
}

<h1>All Courses</h1>
<div>
    <table cellpadding="5">
        @foreach (CourseInstructorModel courseInstructor in Model)
         {
            <tr>
                <td>
                    <div>
                        <span>
                            @courseInstructor.courseName
                        </span>
                        <span>
                            @courseInstructor.instructorFirstName
                        </span>
                        <span>
                            @courseInstructor.instructorLastName
                        </span>
                        <span>
                            <button id=@courseInstructor.courseId onclick="Register(@courseInstructor.courseId, '@courseInstructor.courseName', @courseInstructor.instructorId)">Register for Course</button>
                        </span>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<script type="text/javascript">
    function Register(id, courseName, instructorId) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                alert('A request has been sent to the instructor of the ' + courseName + ' course. You can find the course on your MyCourses page after acceptance.');
                $('#' + id).toggle();
            }
        };
        xhttp.open("POST", "/Course/Register/" + id + "/" + courseName + "/" + instructorId, true);
        xhttp.send();
    }
</script>
